#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@ 

override_dh_auto_install:
	install -d -m 755 debian/napi/usr/share/napi/
	install -d -m 755 debian/napi/usr/bin/
	
	install -m755 ./napi.sh debian/napi/usr/bin/
	install -m755 ./subotage.sh debian/napi/usr/bin/
	install -m755 ./napi_common.sh debian/napi/usr/share/napi/
	
	mv debian/napi/usr/bin/napi.sh debian/napi/usr/bin/napi
	mv debian/napi/usr/bin/subotage.sh debian/napi/usr/bin/subotage
