# Functional requirements:

# Web interface:
- [new] movie search (title -> movie list; with ids)
- [new] subs options (movie id -> movie subs with details and "dc link": napiprojekt:dc25c9430926a0ee88d4edbaaab497bc)
- [new] sub download ("dc link" -> subtitle file)

# Old interface:
- download subs for specific files.
- [new] interactive mode: offer alternative choices if subs not found for specific file.

Interface commands:
- search
- subtitles
- download
- batch
